# Emacs
*~
\#*\#
.\#*
*.elc
auto-save-list
tramp

# Package building
dist/
*.tar

# OS
.DS_Store
Thumbs.db
*.swp

# Project specific
automaton-evolutions/.git
federation-data/
metaverse-data/
mosquitto/data/
mosquitto/log/
.emacs.d/elpa/
.emacs.d/auto-save-list/

# Logs
*.log
