apiVersion: v1
kind: Service
metadata:
  name: e8-api
  namespace: meta-log
  labels:
    app: e8-api
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: e8-api

