apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: e8-data-pvc
  namespace: meta-log
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard

