apiVersion: v1
kind: Service
metadata:
  name: mqtt-broker
  namespace: meta-log
  labels:
    app: mqtt-broker
spec:
  type: ClusterIP
  ports:
  - port: 1883
    targetPort: 1883
    protocol: TCP
    name: mqtt
  - port: 9001
    targetPort: 9001
    protocol: TCP
    name: websocket
  selector:
    app: mqtt-broker

